.form__label{
    color: #E4E900;
    margin-bottom: 10px;
}
.form__group{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form__input{
    background-color: #1E1E1E;
    border: #E4E900 1px solid;
    padding: 10px 15px;
    border-radius: 20px;
    color: #E4E900;
}
.form__input:focus{
    outline: none;
    box-shadow:  1px 1px 3px 3px #E4E900;
}
.form__btn{
    background-color: #E4E900;
    color: #1E1E1E;
    text-transform: uppercase;
    padding: 10px 5px;
    border-radius: 15px;
}
.form__btn{
    cursor: pointer;
    transition:0.4s;
}
.form__btn:hover{
    background-color: #1E1E1E;
    border-color: #E4E900;
    color: #E4E900;
}
.form__error__messages{
    color: #982500;
}
.form__error__messages li{
    margin-top: 10px;
    margin-left: 10px;
}