.all__events__top__wrapper{
    display: flex;
    margin: 49px 60px 40px;
    font-weight: 700;
    line-height: 33px;
    align-items: center;
}
.all__events__title{
    text-transform: uppercase;
    color: #FAFF00;
    font-size: 28px;
}

.all__events__add-event__btn{
    text-decoration: none;
    color: #1E1E1E;
    display: block;
    font-size: 23px;
    background-color: #E4E900;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 5px;
    border: 1px solid #E4E900;
    transition: 0.3s;
}

.all__events__add-event__btn:hover{
    color: #E4E900;
    background-color: #1E1E1E;
}

.all__events__table{
    width: 100%;
    margin: 30px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 20px;
}
.all__event td{
    color: #FAFF00;

    font-size: 23px;
    vertical-align: middle;
    line-height: 28px;
}

.all__event__separator{
    background-color: #FAFF00;
    height: 40px;
    width: 2px;
}

.all__event__btn{
    padding: 3px 10px;
    border: 1px solid #FAFF00;
    color: #FAFF00;
    text-decoration: none;
    display: block;
}
.all__event__btn:hover{
    cursor: pointer;
}

@media screen and (max-width: 1120px) {
    .all__events__table__wrapper {
        overflow-y: scroll;
    }
}